body {
    padding:0px;
    margin:0px;
    overflow: hidden
}

/*Screen Splits------------------------*/

#screenSplits {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

#topPart, #middlePart, #bottomPart {
    height: 48.75vh;
    width: 100%;
}

#topPart {

}

#middlePart {
    height: 2.5vh;
    background-color: black
}

#bottomPart {

}

/*-------------------------------------*/


#player {
    aspect-ratio: 1/1;
    width: 100px;
    position: absolute;
    z-index: 3;
}

.openingCol, .openingView {
    height: 3vh;
    position: absolute;
    top: 48.40vh;
}
