body {
    padding:0px;
    margin:0px;
    overflow: hidden
}

/*Screen Splits------------------------*/

#screenSplits {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

#topPart, #middlePart, #bottomPart {
    height: 48.75vh;
    width: 100%;
}

#topPart {
    background-color: lightblue;
}

#middlePart {
    height: 2.5vh;
    background-color: black
}

#bottomPart {
    background-color: burlywood;

}

/*-------------------------------------*/


#player {
    aspect-ratio: 1/1;
    width: 100px;
    position: absolute;
    z-index: 3;
}

.openingCol, .openingView {
    height: 3vh;
    position: absolute;
    top: 48.40vh;
}

.targets {
    position: absolute;
    aspect-ratio: 1/1;
    width: 10vh;
    z-index: 1;
}

#timer, #gameTimer {
    position: absolute;
    top: 14vh;
    left: 2vh;
    height: 10vh;
    aspect-ratio: 5/1;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

#gameTimer {
    top: 2vh;
    left: 2vh;  
}

#timerBar, #gameTimerBar {
    height: 9vh;
    width: 98%;
    margin-left: 1%;
    border-radius: 15px;
    background-color: red;
}

#gameTimerBar {
    background-color: blue;
}

#scoreCounter {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2vh;
    right: 2vh;
    background-color: white;
    border-radius: 20px;
    height: 10vh;
    aspect-ratio: 1/1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 250%;
}